<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054861662496-sm72v7t6hk0fo4is0tu6hrnqhfbpik3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054861662496-sm72v7t6hk0fo4is0tu6hrnqhfbpik3k</string>
	<key>API_KEY</key>
	<string>AIzaSyC0pd8ny-kMYW7XoN3nVLNFXjFXxlOkhIg</string>
	<key>GCM_SENDER_ID</key>
	<string>1054861662496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nitsuga.dev.SwiftUI-List</string>
	<key>PROJECT_ID</key>
	<string>simpsonizate-e1a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>simpsonizate-e1a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054861662496:ios:9eddbcd4945ead61345f45</string>
	<key>DATABASE_URL</key>
	<string>https://simpsonizate-e1a4c.firebaseio.com</string>
</dict>
</plist>